<div class="footer-container">
  <div class="footer-content">
    <div class="social-media">
      <div class="icon">
        <img src="./../../assets/facebook.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/twitter.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/youtube.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/twitch.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/steam.png" alt="">
      </div>
    </div>
    <div class="footer-info">
      <img src="./../../assets/pubg-corp.png" alt="">
    </div>
  </div>
  <div class="footer-image">
    <img src="./../../assets/footer-image.png" alt="">
  </div>
</div>
