<div class="footer-container">
  <div class="footer-content">
    <div class="social-media">
      <div class="icon">
        <img src="./../../assets/facebook.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/twitter.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/youtube.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/twitch.png" alt="">
      </div>
      <div class="icon">
        <img src="./../../assets/steam.png" alt="">
      </div>
    </div>
    <div class="footer-info d-flex">
      <div class="corp-image mr-3">
        <img src="./../../assets/pubg-corp.png" alt="">
      </div>
      <div class="copyright d-flex">
        <p class="mb-0">COPYRIGHT ©2017 PUBG CORPORATION. ALL RIGHTS RESERVED.</p>
        <p class="mb-0">PLAYERUNKNOWN'S BATTLEGROUNDS and PUBG are registered trademarks, trademarks or service marks of PUBG.</p>
        <ul class="d-flex mt-2">
          <li class="pr-3"><a href="#"><strong>Privacy Policy</strong></a></li>
          <li class="pr-3">|<a href="#" class="pl-3"><strong>Rules of conduct</strong></a></li>
          <li class="pr-3">|<a href="#" class="pl-3"><strong>EULA</strong></a></li>
          <li>|<a href="#" class="pl-3"><strong>Player-created content</strong></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-image">
    <img src="./../../assets/footer-image.png" alt="">
  </div>
</div>
