<div class="social-media-container">
  <div class="row">
    <div class="social-item col-md-3">
      <img class="mb-3" src="./../../assets/social-media-section-1.png" alt="">
      <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/PUBG?ref_src=twsrc%5Etfw"></a>
    </div>
    <div class="social-item col-md-3">
      <img class="mb-3" src="./../../assets/social-media-section-2.png" alt="">
      <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/PUBGpartners?ref_src=twsrc%5Etfw"></a>
    </div>
    <div class="social-item col-md-3">
      <img class="mb-3" src="./../../assets/social-media-section-3.png" alt="">
      <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/PUBGpartners?ref_src=twsrc%5Etfw"></a>
    </div>
  </div>
</div>
