<div class="social-media-container">
  <div class="row">
    <div class="col-md-3">
      <img class="mb-3" src="./../../assets/social-media-section-1.png" alt="">
      <div class="social-item">
        <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/PUBG?ref_src=twsrc%5Etfw"></a>
      </div>
    </div>
    <div class="col-md-3">
      <img class="mb-3" src="./../../assets/social-media-section-2.png" alt="">
      <div class="social-item">
        <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/PUBGpartners?ref_src=twsrc%5Etfw"></a>
      </div>
    </div>
    <div class="col-md-3">
      <img class="mb-3" src="./../../assets/social-media-section-3.png" alt="">
      <div class="social-item">
        <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/PLAYERUNKNOWN?ref_src=twsrc%5Etfw"></a>
      </div>
    </div>
  </div>
</div>
