<nav class="navbar">
  <div class="navbar inner-container">
    <div class="logo">
      <img src="../../assets/icon.png" alt="PlayerUnknowns Battlegrounds Icon">
    </div>
    <a href="#">
      <h4 class="mb-0 mr-4 ml-4">News</h4>
    </a>
    <a href="#">
      <h4 class="mb-0 mr-4">Overview</h4>
    </a>
    <a href="#">
      <h4 class="mb-0 mr-4">Media</h4>
    </a>
    <a href="#">
      <h4 class="mb-0 mr-4">Community</h4>
    </a>
</div>
  <a href="#" class="buy-now-button">
    <div>
      <h4 class="mb-0">Buy Now</h4>
    </div>
  </a>
</nav>
