.navbar {
  height: 90px;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-top: 0;
  padding-bottom: 0;
  &.navbar.inner-container {
    padding: 0;
    border: 0;
  }
  .logo {
    width: 80px;
    img {
      width: 100%;
    }
  }
  a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      color: #e28d02;
      text-decoration: none;
    }
  }
  .buy-now-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #e28d02;
    position: relative;
    left: 15px;
    &:hover {
      color: white;
      background-color: #d47901;
    }
    & h4 {
      font-size: 35px;
    }
  }
}
