.navbar {
  height: 80px;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(255,255,255,.5);
  .logo {
    width: 80px;
    img {
      width: 100%;
    }
  }
  a {
    color: #222;
    text-transform: uppercase;
    &:hover {
      color: #e28d02;
      text-decoration: none;
    }
  }
}
