.patch-note-item {
  .patch-note-image {
    height: 255px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      position: relative;
      bottom: 50px;
    }
    .overlay {
      position: absolute;
      bottom: 0;
    }
  }
  .patch-note-text {
    background: white;
    padding: 20px 30px;
  }
}
