.announcement-item {
  display: flex;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.4);
  padding: 20px;
  min-height: 124px;
  .announcement-image {
    width: 200px;
    max-width: 168px;
    height: 124px;
    overflow: hidden;
    img {
      position: relative;
      right: 50px;
      width: 300px;
    }
  }
  .announcement-text {
    padding-left: 20px;
    .announcement-headline {
      font-weight: bold;
      font-size: 16px;
    }
    .announcement-teaser {
      font-size: 14px;
    }

  }
  &:last-child {
    border-bottom: 0;
  }
}
