.header {
  height: 100%;
  max-height: 800px;
  width: 100%;
  position: relative;
  z-index: 0;
  .bottom-header {
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
}
.header-split {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  img {
    width: 100%;
  }
}

.main-content {
  background-color: #f1f1f1;
  .patch-notes {
    h1 {
      text-transform: uppercase;
    }
  }
}
