<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex align-items-center">
        <div class="col-md-6">
          <img src="./../../assets/slider-image-1.png" alt="">
        </div>
        <div class="col-md-6">
          <img class="w-60" src="./../../assets/slider-text-1.png" alt="">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center">
        <div class="col-md-6">
          <img src="./../../assets/slider-image-2.png" alt="">
        </div>
        <div class="col-md-6 missile">
          <img class="w-60 position-relative" src="./../../assets/slider-text-2.png" alt="">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center">
        <div class="col-md-6">
          <img src="./../../assets/slider-image-3.png" alt="">
        </div>
        <div class="col-md-6">
          <img class="w-60" src="./../../assets/slider-text-3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
