/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Teko:400,500');

html, body, .parent {
  height: 100%;
}

body {
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5 {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}
p, span, label, a {
  font-family: 'Arial', SimSun, sans-serif, 'Apple SD Gothic Neo';
}

.parent {
  background: url('./assets/static-bg.jpg');
  background-size: cover;
  padding-top: 90px;
}
