<div class="header">
  <div class="bottom-header">
    <app-header></app-header>
    <app-header-links [childHeaderLinkList]="masterHeaderLinkList"></app-header-links>
  </div>
</div>
<div class="header-split">
  <img src="./../../assets/page-split.png" alt="">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <app-patch-notes></app-patch-notes>
    </div>
    <div class="announcements col-md-4">
      <h1>Announcements</h1>
      <app-announcements [childAnnouncementList]="masterAnnouncementList"></app-announcements>
    </div>
  </div>
</div>
