.header {
  background: url('./../../assets/static-bg.jpg');
  background-size: cover;
  padding-top: 90px;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  .bottom-header {
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
}
.header-split {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  img {
    width: 100%;
  }
}

.main-content {
  background-color: #f1f1f1;
  .patch-notes, .announcements {
    h1 {
      text-transform: uppercase;
    }
  }
  .slider-container {
    background: url('./../../assets/slider-bg.jpg');
    background-size: cover;
    width: 100%;
    margin-top: 80px;
  }
}
